* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #101010;
  color: #FAFAFA;
  font-family: "JetBrainsMono Nerd Font"
}

.row {
  height: 100vh;
  margin: 0 10%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  width: 200px;
  height: 300px;
  margin: 0 15px;
  padding: 20px 40px;
  justify-self: center;
  align-self: center;
}

.card .title {
  text-align: center;
  font-size: 1.25rem;
  padding: 10px 0;
}

.card .title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
  border-bottom: 5px solid #FAFAFA;
}

.card .body {
  font-size: .9rem;
  padding: 10px 0;
}

.card .body ul {
  list-style: none;
  padding: 0;
}

.card .body ul li {
  margin: 15px 0;
}

.card .body ul li a {
  color: #FAFAFA;
  text-decoration: none;
}

.card .body ul li a:hover,
.card .body ul li a:focus {
  color: #42A5F5;
  text-decoration: underline;
}

@media (min-width: 760px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}